<div class="container">
  <div class="row mb-8">
    <div class="col-md-12">
      <div class="d-md-flex justify-content-between align-items-center">
        <div>
          <h2>All Tags</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><%= link_to "Dashboard", admin_path, class: "text-inherit" %></li>
              <li class="breadcrumb-item active" aria-current="page">All Tags</li>
            </ol>
          </nav>
        </div>
        <div>
          <%= link_to "Add New Tag", new_admin_tag_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
              <form class="d-flex" role="search">
                <input class="form-control" type="search" placeholder="Search Tags" aria-label="Search" />
              </form>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
              <!--              <select class="form-select">-->
              <!--                <option selected>Status</option>-->
              <!--                <option value="1">Active</option>-->
              <!--                <option value="2">Deactive</option>-->
              <!--                <option value="3">Draft</option>-->
              <!--              </select>-->
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <%= turbo_frame_tag "blog-tags-table" do %>
              <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                <thead class="bg-light">
                <tr>
                  <th>Label</th>
                </tr>
                </thead>
                <tbody>
                <%= render @tags %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
        <div class="border-top d-md-flex justify-content-between align-items-center px-6 py-6">
          <span>Showing All of <%= Tag.count %> entries</span>
        </div>
      </div>
    </div>
  </div>
</div>