<section id="services" class="bg-secondary pb-md-2 pb-lg-5">
  <div class="container pb-4 pt-5">
    <h2 class="h1 text-center text-md-start mb-lg-4 pt-1 pt-md-4">Our Services</h2>
    <div class="row align-items-center pb-5 mb-lg-2">
      <div class="col-md-8 text-center text-md-start">
        <p class="fs-lg text-muted mb-md-0">We are focused on helping businesses grow through digital transformation
          and unique consulting services. We bring real solutions to each client’s problems through a deep understanding of their market,
          unique needs, and personal vision.</p>
      </div>
      <!--      <div class="col-md-4 d-flex justify-content-center justify-content-md-end">-->
      <!--        <a href="services-v1.html" class="btn btn-outline-primary btn-lg">See all services</a>-->
      <!--      </div>-->
    </div>
    <div class="row row-cols-1 row-cols-md-2">

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <%= image_tag("services/icons/cms.svg", class: "d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Custom Software Development
<!--              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>-->
            </h2>
            <p class="fs-sm text-body mb-0">
              We create custom cloud-based software tailored to your business needs, whether it’s for your team,
              customers, or end-users.
              Own the tools that power your business, enhance engagement, and boost efficiency. Get your startup MVP to
              market faster and on budget.
            </p>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y" style="padding: 0.75rem">
<!--              <i class="text-white icon-lg bi bi-bounding-box-circles d-block m-1"></i>-->
              <%= image_tag("services/icons/bounding-box-circles.svg", class: "text-white d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Software Integrations
<!--              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>-->
            </h2>
            <p class="fs-sm text-body mb-0">
              We can integrate the software and tools you already rely on, creating seamless workflows
              and reducing manual processes. Connect your existing systems to improve efficiency, enhance data
              visibility,
              and scale effortlessly. Let us help you make your tech stack work together, so you can focus on growing
              your business.
            </p>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <%= image_tag("services/icons/mobile-app.svg", class: "d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Mobile App Development
<!--              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>-->
            </h2>
            <p class="fs-sm text-body mb-0">
              Empower your team to stay connected and manage tasks on the go with powerful mobile solutions that promote
              autonomy and efficiency. Deliver a seamless experience for your customers by offering them easy, on-demand access
              to your services from any device, ensuring engagement and convenience no matter where they are.
            </p>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <%= image_tag("services/icons/analytics.svg", class: "d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Strategy Consulting
<!--              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>-->
            </h2>
            <p class="fs-sm text-body mb-0">
              Get expert guidance on refining your product strategy, developing your ideas, and scaling your business effectively.
              We help you turn concepts into actionable plans that drive growth and success. Whether you're looking to optimize
              existing offerings or explore new revenue streams, our consulting services provide the strategic insights you
              need to take your business to the next level.
            </p>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <%= image_tag("services/icons/web-search.svg", class: "d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Business Analytics
<!--              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>-->
            </h2>
            <p class="fs-sm text-body mb-0">
              Unlock the full potential of your data with actionable insights that drive smarter decisions. Our business
              analytics services help you track key performance metrics, optimize operations, and uncover new opportunities
              for growth. Whether you're looking to enhance customer engagement, improve efficiency, or identify untapped
              revenue streams, we provide the analytics tools and expertise to turn data into a strategic advantage for your business.
            </p>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <%= image_tag("services/icons/timer.svg", class: "d-block m-1", width: 40) %>
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Operations Consulting
            </h2>
            <p class="fs-sm text-body mb-0">
              Streamline your operations by eliminating tedious tasks and reducing manual work, allowing you to focus on
              what matters most—growing your business. Our operations consulting services enhance efficiency, helping
              you do more with fewer resources. From optimizing workflows to automating key processes, we enable you to
              boost performance and achieve operational excellence while keeping costs under control.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative zindex-5 text-center my-xl-3 py-1 py-md-4 py-lg-5">
    <p class="lead text-primary opacity-70 mb-3">Ready to get started?</p>
    <h2 class="h1 pb-3 pb-lg-0 mb-lg-5">Launch Your Project Today</h2>
    <a href="#contact" data-scroll class="btn btn-primary shadow-primary btn-lg mb-5 mb-lg-0">Get in Contact</a>
  </div>
</section>