<% content_for :title, "About Us" %>
<% content_for :description, "Learn about who we are, our mission, and our process." %>
<!-- Hero image -->
<div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
  <div class="jarallax-img" style="background-image: url('<%= image_url "about/cover.jpg" %>');"></div>
  <div class="d-none d-xxl-block" style="height: 400px;"></div>
  <div class="d-none d-md-block d-xxl-none" style="height: 400px;"></div>
</div>


<!-- Breadcrumb -->
<nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>

<section class="container-fluid mt-3 mb-5 py-5 bg-secondary w-100" id="benefits">
  <div class="pt-3">
    <div class="row pt-4" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

      <!-- Item -->
      <div class="col-12 col-md-4 border-end-lg px-2" role="group" aria-label="1 / 3">
        <div class="text-center">
          <i class="text-primary icon-xxl bx bxs-map d-block mb-4 mx-auto"></i>
          <h4 class="mb-2 pb-1">Goodyear, AZ</h4>
          <p class="mx-auto" style="max-width: 336px;">
            Our leadership team is based out of warm & sunny Goodyear, a growing city in the West Valley of Arizona.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4 border-end-lg px-2 mt-3 mt-md-0" role="group" aria-label="2 / 3">
        <div class="text-center">
          <i class="text-primary icon-xxl bx bxs-user-badge d-block mb-4 mx-auto"></i>
          <h4 class="mb-2 pb-1">Highly Experienced</h4>
          <p class="mx-auto" style="max-width: 336px;">
            Our core team members have been honing their individual specialties for a minimum of 10 years.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4 px-2 mt-3 mt-md-0" role="group" aria-label="3 / 3">
        <div class="text-center">
          <i class="text-primary icon-xxl bx bxs-conversation d-block mb-4 mx-auto"></i>
          <h4 class="mb-2 pb-1">24/7 Support</h4>
          <p class="mx-auto" style="max-width: 336px;">
            All of our projects include 24/7 monitoring tools with a team ready to support you when you need it most.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About company -->
<section class="container pb-5 mb-md-2 mb-lg-4">
  <h1 class="border-bottom pb-4">About Us</h1>
  <div class="row pt-2 pt-md-3 gy-4 py-xl-3">
    <div class="col-md-6">
      <p class="fs-lg pe-lg-4 mb-1 mb-lg-4">
        We believe that cutting-edge technology and custom software should be accessible to every business, from startups
        to established enterprises—not just the tech giants or those with massive budgets.
        <br>
        <br>
        Our team consists of engineers and developers with experience at leading tech companies like Square, Apple,
        Netflix, Basecamp, and Jobber. We use the same advanced technologies as these industry leaders but apply them
        to serve the needs of businesses like yours.
        <br>
        <br>
        Instead of fueling the growth of large corporations, we focus our expertise on empowering businesses of all
        sizes, providing the tools you need to succeed in an increasingly digital world. Whether you’re looking to
        innovate, streamline operations, or embark on a digital transformation, we’re here to help you achieve measurable
        success.
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "industries/04.jpg", class: "rounded-3", alt: "Industry" %>
    </div>
  </div>
</section>

<section class="container pb-5 mb-md-2 mb-lg-4">
  <h1 class="border-bottom pb-4">Our Mission</h1>
  <div class="row pt-2 pt-md-3 gy-4 py-xl-3">
    <div class="col-md-6">
      <%= image_tag "industries/05.jpg", class: "rounded-3", alt: "Industry" %>
    </div>
    <div class="col-md-6">
      <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">
        Our mission is to close the gap in access to advanced technology and custom software, making it available to
        businesses of all sizes across every industry. Whether you're a small business looking to expand, a startup
        launching a groundbreaking product, or an enterprise seeking to optimize and transform, we're committed to being
        your partner in growth.
        <br>
        <br>
        We understand the challenges that smaller businesses and emerging startups face when competing against larger
        organizations with more resources. By leveraging our deep industry experience and technical expertise, we aim
        to level the playing field.
        <br>
        <br>
        We are dedicated to delivering high-quality, affordable tech solutions that empower businesses to innovate,
        scale, and thrive in today’s competitive market. Our goal is to democratize technology, ensuring that every
        business has the opportunity to succeed and grow, regardless of size or budget.
      </p>
    </div>
  </div>
</section>

<section id="process" class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5">
  <h2 class="h1 pb-2 pb-md-0 mb-4 mb-md-5">How We Work</h2>
  <div class="steps steps-sm steps-horizontal-xl pb-2 pb-sm-3">
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Discovery & Brainstorming</h3>
        <p class="mb-0">
          We begin by understanding your business goals, challenges, and vision. Through collaborative brainstorming
          sessions, we explore ideas and identify opportunities to build the right solution tailored to your needs.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Planning & Strategy</h3>
        <p class="mb-0">
          With a clear understanding of your objectives, we create a detailed project roadmap. This phase includes setting
          timelines, defining deliverables, and selecting the best technologies to ensure a seamless development process.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">MVP Development</h3>
        <p class="mb-0">
          Our team brings your vision to life through user-centered design and scalable, efficient code. We iterate on your feedback,
          ensuring that each element aligns with your goals and delivers a seamless experience for users.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Testing & Refinement</h3>
        <p class="mb-0">
          Before the final launch, we rigorously test your product to ensure it meets the highest quality standards. We make necessary
          refinements to ensure performance, security, and usability, giving you confidence in the final product.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">5</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Delivery & Ongoing Support</h3>
        <p class="mb-0">
          Once the product is delivered, our partnership doesn’t end. We provide ongoing support and updates, helping
          you maintain and scale your solution as your business evolves and grows.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container pb-5 mb-2 mb-md-4 mb-lg-5" id="contact">
  <div class="position-relative bg-secondary rounded-3 py-5 mb-2">
    <div class="row pb-2 py-md-3 py-lg-5 px-4 px-lg-0 position-relative zindex-3">
      <div class="col-xl-3 col-lg-4 col-md-5 offset-lg-1">
        <p class="lead mb-2 mb-md-3">Ready to get started?</p>
        <h2 class="h1 pb-3">Don’t Hesitate to Contact Us</h2>
      </div>
      <div class="col-lg-6 col-md-7 offset-xl-1">
        <%= turbo_frame_tag "contact-form" do %>
          <%= render partial: "contacts/form" %>
        <% end %>
      </div>
    </div>

    <!-- Pattern -->
    <div class="position-absolute end-0 bottom-0 text-primary">
      <svg width="416" height="444" viewBox="0 0 416 444" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M240.875 615.746C389.471 695.311 562.783 640.474 631.69 504.818C700.597 369.163 645.201 191.864 496.604 112.299C348.007 32.7335 174.696 87.5709 105.789 223.227C36.8815 358.882 92.278 536.18 240.875 615.746ZM208.043 680.381C388.035 776.757 605.894 713.247 694.644 538.527C783.394 363.807 709.428 144.04 529.436 47.6636C349.443 -48.7125 131.584 14.7978 42.8343 189.518C-45.916 364.238 28.0504 584.005 208.043 680.381Z" fill="currentColor"></path>
        <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M262.68 572.818C382.909 637.194 526.686 594.13 584.805 479.713C642.924 365.295 595.028 219.601 474.799 155.224C354.57 90.8479 210.793 133.912 152.674 248.33C94.5545 362.747 142.45 508.442 262.68 572.818ZM253.924 590.054C382.526 658.913 538.182 613.536 601.593 488.702C665.004 363.867 612.156 206.847 483.554 137.988C354.953 69.129 199.296 114.506 135.886 239.341C72.4752 364.175 125.323 521.195 253.924 590.054Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
</section>