<!-- Hero + animations -->
<%= render partial: "pages/hero" %>


<!-- About -->
<section class="container my-5 py-lg-5 py-md-4 py-3">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-6">
      <%= image_tag "industries/01.jpg", class: "rounded-3", alt: "Tech for any industry" %>
    </div>
    <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">Big tech for your business</h2>
        <p class="mb-3 fs-lg">
          Technology is the engine that drives modern business success. We believe that innovative, high-quality tech
          solutions should be accessible to organizations of all sizes, from startups to established enterprises.
        </p>
        <p class="mb-3 fs-lg">
          Our mission is to empower businesses by delivering tailored solutions that foster growth, efficiency, and a competitive edge in today’s market.
        </p>

        <%= link_to "More about us", about_path, class: "btn btn-lg btn-outline-primary" %>
      </div>
    </div>
  </div>
</section>

<%= render partial: "pages/featured_blog_posts", locals: {posts: @posts} %>


<%= render partial: "pages/services" %>

<%= render partial: "pages/projects" %>

<%= render partial: "pages/why_use_us" %>

<%= render partial: "pages/industries" %>

<section class="container" id="contact">
  <div class="bg-secondary rounded-3 py-5 px-3 px-sm-4 px-lg-0">
    <div class="row align-items-center pt-1 pb-2 py-lg-4">
      <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 mb-4 pb-3 mb-md-0 pb-md-0">
        <h2 class="h1 mb-lg-4">Get in Touch</h2>
        <p class="pb-2 pb-md-4 pb-lg-5">
          Reach out to us today! We will get your message and always respond to any inquires we receive.
        </p>
        <h3 class="mb-lg-4">Contact Info</h3>
        <ul class="list-unstyled pb-3 pb-md-4 pb-lg-5 mb-2">
          <li class="mb-2">
            <a href="tel:4807437821" class="nav-link d-flex align-items-center p-0">
              <i class="bx bx-phone-call fs-xl text-primary me-2"></i>
              (480) 743-7821
            </a>
          </li>
          <li class="mb-2">
            <a href="mailto:contact@outwesttech.com" class="nav-link d-flex align-items-center p-0">
              <i class="bx bx-envelope fs-xl text-primary me-2"></i>
              contact@outwesttech.com
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-6 offset-xl-1">
        <div class="card border-0 shadow-sm p-sm-2">
          <%= turbo_frame_tag "contact-form" do %>
            <%= render partial: "contacts/form" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal markup -->
<div class="modal fade" tabindex="-1" role="dialog" id="onload">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!--        <h5 class="modal-title">Modal title</h5>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Looking for our Anti-Fraud & Abuse Program for Seniors?</p>
        <%= link_to "Click Here", protection_for_seniors_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    window.onload = () => {
        setTimeout(()=>{
            const myModal = new bootstrap.Modal('#onload');
            myModal.show();
        }, 500)
    }
</script>