<div data-controller="contact-form">
  <%= form_with scope: :contact, url: contacts_path, class: "card-body needs-validation", id: "contact-form", data: { controller: "validate-form", validate_form_target: "form", validate_form_spinner_value: "true" } do |f| %>
    <div class="mb-4">
      <%= f.label :service, class: "form-label fs-base" %>
      <%= f.select :service, Contact::SERVICES, { prompt: "Choose the service your interested in", selected: params[:service] }, class: "form-select form-select-lg", data: { validate_form_target: "input", validate_type: "text", validate_msg: "Please select a service." } %>
    </div>
    <div class="mb-4">
      <%= f.label :first_name, "First name", class: "form-label fs-base" %>
      <%= f.text_field :first_name, class: "form-control form-control-lg", data: { validate_form_target: "input", validate_type: "text", validate_msg: "Please enter your first name." } %>
    </div>
    <div class="mb-4">
      <%= f.label :last_name, "Last name", class: "form-label fs-base" %>
      <%= f.text_field :last_name, class: "form-control form-control-lg", data: { validate_form_target: "input", validate_type: "text", validate_msg: "Please enter your last name." } %>
    </div>
    <div class="mb-4">
      <%= f.label :email, class: "form-label fs-base" %>
      <%= f.email_field :email, class: "form-control form-control-lg", data: { validate_form_target: "input", validate_type: "text", validate_msg: "Please enter your email." } %>
    </div>
    <div class="mb-4 pb-2">
      <%= f.label :message, class: "form-label fs-base" %>
      <%= f.text_area :message, rows: 3, class: "form-control form-control-lg", placeholder: "Please leave us a brief message.", data: { validate_form_target: "input", validate_type: "text", validate_msg: "Please leave us a brief message." } %>
    </div>

    <div id="g-recaptcha"></div>

    <div class="d-flex">

      <button id="submit-button"
              type="submit"
              class="btn btn-primary shadow-primary btn-lg"
              data-action="validate-form#validateAndSubmit"
              data-turbo-submit-with="Submitting..."
              data-validate-form-target="submitButton"
              disabled="disabled"
      >Send message
      </button>
      <div id="spinner" class="ms-4 spinner-border align-self-center d-none" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <%#= f.submit "Send message", class: "btn btn-primary shadow-primary btn-lg", id: "submit-button", disabled: true %>
  <% end %>
</div>
