<%= form_with(scope: :contact, url: contacts_path, id: "contact-form", data: {controller: "validate-form", validate_form_target: "form", validate_form_spinner_value: "true"}) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <div class="row">
      <div class="col-12 col-md-6">
        <%= f.text_field :first_name, placeholder: "First name", class: "form-control mb-md-0 mb-1", data: {validate_form_target: "input", validate_type: "text", validate_msg: "Please enter a first name."} %>
      </div>

      <div class="col-12 col-md-6">
        <%= f.text_field :last_name, placeholder: "Last name", class: "form-control", data: {validate_form_target: "input", validate_type: "text", validate_msg: "Please enter a last name."} %>
      </div>
    </div>

  </div>
  <div class="mb-3">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.text_field :email, placeholder: "myemail@email.com", class: "form-control", data: {validate_form_target: "input", validate_type: "email", validate_msg: "Please enter a valid email."} %>
  </div>

  <div class="mb-3">
    <%= f.label :message, class: "form-label" %>
    <%= f.text_area :message, placeholder: "What can we help you with?", class: "form-control", rows: 3, data: {validate_form_target: "input", validate_type: "text", validate_msg: "Please leave us a message."} %>
  </div>

  <button id="submit-button"
          type="submit"
          class="btn glowy-btn-pink"
          data-action="validate-form#validateAndSubmit"
          data-turbo-submit-with="Submitting..."
          data-validate-form-target="submitButton"
  >Submit</button>

  <div id="recaptcha"
       class="g-recaptcha"
       data-sitekey="6LdZS1cpAAAAACF7_-WohxgpCyQ_L4o4pxPI-2Gi"
       data-callback="validate"
       data-size="invisible">
  </div>
<% end %>