<footer class="footer position-relative bg-dark pt-5 pb-4 pb-lg-5">
  <span class="position-absolute top-0 start-0 d-dark-mode-block d-none w-100 h-100 bg-secondary opacity-75"></span>
  <div class="position-relative container pt-lg-4" data-bs-theme="dark">
    <div class="row pb-5">
      <div class="col-lg-4 col-md-6">
        <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
          <%= image_tag "logo-white.png", class: "me-3", width: 47, alt: "Out West Tech" %>
          Out West Tech
        </div>
        <form class="needs-validation" novalidate="">
          <label for="subscr-email" class="form-label">Subscribe to our newsletter</label>
          <div class="input-group">
            <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder="Your email" required="">
            <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
            <div class="invalid-tooltip position-absolute top-100 start-0">Please provide a valid email address.</div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
        <div id="footer-links" class="row">
          <div class="col-6">
            <h6 class="m-0">
              <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
            </h6>
            <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
              <ul class="nav flex-column pb-lg-1 mb-lg-3">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">What We Do</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="dropdown-item">
                      <%= link_to "Services", root_path(anchor: "services"), class: "nav-link", data: {scroll: ''} %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to "Projects", root_path(anchor: "projects"), class: "nav-link", data: {scroll: ''} %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to "Why Us?", root_path(anchor: "why-use-us"), class: "nav-link", data: {scroll: ''} %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to "Industries", root_path(anchor: "industries"), class: "nav-link", data: {scroll: ''} %>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <%= link_to "About Us", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Our Process", about_path(anchor: "process"), class: "nav-link", data: {scroll: ''} %>
                </li>
                <li class="nav-item">
                  <%= link_to "Blog", posts_path, class: "nav-link" %>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-6">
            <ul class="nav flex-column mb-2 mb-lg-0">
              <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Terms &amp; Conditions</a></li>
              <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
      <span class="text-light opacity-50">© All rights reserved. Made by </span>
      <a class="nav-link d-inline-block p-0" href="https://outwesttech.com/" target="_blank" rel="noopener">Out West Tech</a>
    </p>
  </div>
</footer>