<header class="header navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 99999" data-bs-theme="dark">
  <div class="container px-3">
    <a href="/" class="navbar-brand pe-3">
      <%= image_tag "logo-white.png", class: "me-3", width: 47, alt: "Out West Tech" %>
      Out West Tech
    </a>
    <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
      <div class="offcanvas-header border-bottom border-light">
        <h5 class="offcanvas-title text-white">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">What We Do</a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li class="dropdown-item">
                <%= link_to "Services", root_path(anchor: "services"), class: "nav-link", data: {scroll: ''} %>
              </li>
              <li class="dropdown-item">
                <%= link_to "Projects", root_path(anchor: "projects"), class: "nav-link", data: {scroll: ''} %>
              </li>
              <li class="dropdown-item">
                <%= link_to "Why Us?", root_path(anchor: "why-use-us"), class: "nav-link", data: {scroll: ''} %>
              </li>
              <li class="dropdown-item">
                <%= link_to "Industries", root_path(anchor: "industries"), class: "nav-link", data: {scroll: ''} %>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Our Process", about_path(anchor: "process"), class: "nav-link", data: {scroll: ''} %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog", posts_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="offcanvas-header border-top border-light">
        <a href="#contact" data-scroll class="btn btn-primary w-100" target="_blank" rel="noopener">
          <i class="bx bx-message-alt-dots fs-5 lh-1 me-1"></i>
          Contact Us
        </a>
      </div>
    </div>

    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to root_path(anchor: "contact"), class: "btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" do %>
      <i class="bx bx-message-alt-dots fs-5 lh-1 me-1"></i>
      Contact Us
    <% end %>
  </div>
</header>