<!DOCTYPE html>
<html>
  <head>
    <title>Big tech for small business | Out West Tech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= tag.link(rel: "apple-touch-icon", sizes: "180x180", href: image_path("favicon/apple-touch-icon.png")) %>
    <%= tag.link(rel: "icon", type: "image/png", sizes: "32x32", href: image_path("favicon/favicon-32x32.png")) %>
    <%= tag.link(rel: "icon", type: "image/png", sizes: "16x16", href: image_path("favicon/favicon-16x16.png")) %>
    <%= tag.link(rel: "manifest", href: asset_path("favicon/site.webmanifest")) %>
    <%= tag.link(rel: "mask-icon", href: asset_path("favicon/safari-pinned-tab.svg"), color: "#5bbad5") %>
    <%= tag.link(rel: "shortcut icon", href: asset_path("favicon/favicon.ico")) %>
    <%= tag.meta(name: "msapplication-TileColor", content: "#9f00a7") %>
    <%= tag.meta(name: "msapplication-config", content: asset_path("favicon/browserconfig.xml")) %>
    <%= tag.meta(name: "theme-color", content: "#ffffff") %>

    <!--Library stylesheets-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  </head>

  <body>
  <main class="page-wrapper">

  <%= render partial: "layouts/navbar" %>
  <div id="flashes">
    <%= render partial: "layouts/toasts" %>
  </div>
  <%= yield %>
  </main>
  <%= render partial: "layouts/footer" %>

  <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.js"></script>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/47216302.js"></script>
  <!-- End of HubSpot Embed Code -->
  </body>
</html>
